.idea/*
__pycache__/preprocess_input.cpython-36.pyc
__pycache__/utils_detection.cpython-36.pyc
*/__pycache__/*
current_images.txt
detectron2/build/
detectron2/detectron2/model_zoo/configs_old
detectron2/detectron2/config/__pycache__/*
detectron2/detectron2/data/__pycache__/*
detectron2/detectron2/data/__pycache__/*
detectron2/detectron2/modeling/roi_heads/__pycache__/*
detectron2/detectron2/modeling/roi_heads/__pycache__/*
detectron2/dist/
edit_weights.pkl
output/
validation_losses.pkl
validation_losses_old.pkl
weights.pickle
.nfs0000000000038e090000c525
.nfs0000000000038c4e0000c587
.nfs000000000003961a0001307b
.nfs000000000003a09f000005d8
current_images_inference.txt
dataset_dicts.npy
list_of_infer_tests.txt
list_of_trials.txt
test_dataset_dicts.npy
val_dataset_dicts.npy

bkup/*